body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
}
.container {
    max-width: 1256px;
    padding: 0 20px;
    margin: 0 auto;
}
.button {
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    background: #E3B873;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
h1, h2, h3 {
    font-family: Yeseva One, serif;
    text-transform: uppercase;
    font-weight: normal;
}
.title {
    color: #e3b873;
}


/*----------------------------------------HEADER------------------------------*/

header, footer {
    background: #131313;
}
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
.header__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header__list li {
    margin-left: 20px;
}
.header__nav-link {
    color: #fff;
    text-decoration: none;
}
.header__nav-link:hover {
    color: #E3B873;
}
.header__phone {
    color: #E3B873;
}
.header__button {
    font-size: 11px;
    padding: 13px 33px;
    margin-top: 24px;
    margin-bottom: 22px;
}

/*----------------------------------------MAIN-PAGE------------------------------*/

.main-page {
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
 .main-page__content {
    max-width: 600px;
    margin-left: 34px;
    padding-top: 194px;
    padding-bottom: 208px;
}
 h1 {
    font-size: 40px;
    line-height: 53px;
    color: #fff;
    margin-bottom: 19px;
}
h1 span {
    color: #E3B873;
}
.main-page__content p {
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 41px;
}
.main-page__button {
    width: 207px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 11px;
}
.main-page__button_transparent {
    background: none;
    border: 1px solid #fff ;
    margin-left: 20px;
}
.main-page__overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}
.main-page__container {
    position: relative;
    z-index: 1;
}

/*----------------------------------------WORKS------------------------------*/
.works {
    background: #131313;
    padding-top: 107px;
}
.works__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 416px;
}
.mobile-slider {
    display: none;
}
.works__title {
    max-width: 253px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    padding-top: 53px;
}
.works__slider {
    max-width: 495px;
    margin-top: 34px;
}
.works__slider-description {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
}
.slider {
    display: flex;
}
.works-parameters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
}
.works-parameters h3 {
    text-transform: uppercase;
    color: #e3b873;
    font-size: 18px;
    line-height: 25px;
}
.works-parameters p {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.works__slider-controls {
    display: flex;
    align-items: center;
}
.works__slider-arrow {
    margin-left: 38px;
}
.works__slider-points {
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works__slider-point {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 9px;
    background-color: rgba(255, 255, 255, 0.3);
}
.works__image {
    display: flex;
    flex-direction: column;
    text-align-last: left;
}
.works__nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}
.works__nav ul li {
    margin-right: 60px;
    list-style: none;
}
.works__nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
.works__nav ul li a:hover {
    text-decoration: underline;
    color: #e3b873;
}
.img-adaptive {
    max-width: 600px;
}

/*------------------------------------------------CONTROL-------------------------------------------*/
.control {
    text-align: center;
    margin-top: -325px;
}
.block-icon {
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.line {
    display: block;
    width: 32px;
    height: 1.5px;
    background: #e3b873;
    margin: 0 10px;
}
.line-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.oneline {
    width: 55px;
}
.control h2 {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
}
.control__img {
    max-width: 817px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 62px;
}
.video-block iframe{
    max-width: 100%;
}
.control-video {
    width: 840px;
    height: 472.5px;
}
.img-video {
    width: 100%;
    height: auto;
}
.control__img-icon {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #E3B873;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -300px;
    margin-left: 42%;
    margin-bottom: 215px;
}
.control p {
    max-width: 740px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 0 auto;
    margin-top: 34px;
}
.control__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    box-sizing: border-box;
    max-width: 770px;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: 93px;
}
.form-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 40px;
    margin-bottom: 63px;
}
.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    color: #363636;
    font-size: 14px;
    line-height: 23px;
}
.control__button {
    font-style: normal;
    font-size: 13px;
    padding: 20px 75px;
    margin-bottom: 63px;
}
.checkbox {
    display: none;
}
.label-checkbox::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
    background: #E3B873;
}
.checkbox:checked + .label-checkbox::before {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*------------------------------------------------REPAIR-------------------------------------------*/

.repair h2 {
    padding-top: 75px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
}
.repair__content {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.repair__image {
    max-width: 100%;
    position: relative;
    z-index: -1;
}
.repair__item-text {
    text-align: left;
    max-width: 330px;
    margin: 0 auto;
    margin-top: -135px;
    padding-top: 24px;
    padding-left: 34px;
    background-color:white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-bottom: 59px;
    margin-bottom: 50px;
}
.repair__item-text h3 {
    text-transform: none;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.repair__item-text ul {
    padding-left: 15px;
    padding-bottom: 22px;
}
.repair__item-text li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.repair__item-cost {
    max-width: 228px;
    text-align: center;
    font-family: Yeseva One;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 21px 17px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    margin-bottom: -80px;
    margin-left: -38px;
}
/*----------------------------------------FOR-MOBILE----------------------------------*/
.for-mobile {
    display: none;
}
.for-mobile h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

/*----------------------------------------ADVANTAGES----------------------------------*/
.advantages {
    padding-top: 220px;
    background-image: url(../img/bg_advantages.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.advantages__content {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}
.advantages-items {
    max-width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 50px;
}
.advantages-item {
    display: flex;
    align-items: baseline;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-bottom: 90px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    margin-right: 20px;
}
.text-shrink {
    flex-shrink: 10;
}
.advantages-request {
    background: #000;
    color: #fff;
    width: 425px;
    padding: 28px 50px;
    margin-left: 100px;
}
.advantages-request input {
    background: #000;
}
.advantages-request input::placeholder {
    color: #fff;
}
.advantages__label {
    color: rgba(255, 255, 255, 0.5);
}
.advantages-request h2 {
    text-transform: none;
    max-width: 270px;
    margin: 0 auto;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.advantages__form-input {
    margin-top: 50px;
    margin-left: 20px;
}
.advantages-request input {
    max-width: 400px;
}
.advantages-checkbox {
    margin-top: 17px;
    margin-left: 17px;
}
.button-right {
    display: flex;
    justify-content: flex-end;
}
.advantages-button {
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    padding: 19px 22px;
    margin-top: 39px;
}
.benefit {
    display: flex;
    justify-content: flex-end;
    margin-right: 108px;
    margin-top: 30px;
    margin-bottom: -130px;
    padding-top: 43px;
}
.pig-circle {
    width: 72px;
    height: 72px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.benefit-text {
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    max-width: 240px;
}

/*----------------------------------------OUR-STYLES----------------------------------*/
.our-styles {
    margin-top: 341px;
    padding-top: 137px;
    background-image: url(../img/our-styles-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.our-styles__wrapper {
    display: flex;
    justify-content: space-between;
}
.our-styles__text {
    max-width: 411px;
    padding-left: 100px;
    margin-right: 50px;
    
}
.our-styles__text-title {
    max-width: 411px;
}
.our-styles__text ul {
    margin-top: 47px;
}
.our-styles__text li {
    margin-bottom: 25px;
    list-style: none;
}
.our-styles__text a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.our-styles__text a:hover, .our-styles__text a:active {
    text-decoration: underline;
    color: #E3B873;
}
.clock, .sofa {
    padding-bottom: 39px;
}
.image-block-one {
    margin-top: -178px;
    margin-bottom: -41px;
}
.image-block-two {
    margin-top: -250px;
    margin-left: 43px;
}


/*----------------------------------------CLIENTS----------------------------------*/
.clients__head {
    max-width: 476px;
    margin: 0 auto;
    padding-top: 110px;
    text-align: center;
}
.clients-title {
margin: 0 auto;
color: #181818;
font-size: 20px;
line-height: 28px;
margin-bottom: 13px;
}
.clients__head p {
    margin-top: 27px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 29px;
    color: #363636;
}
.comments {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    
}
.comments__item {
    max-width: 367px;
    background: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 20px;
    padding-bottom: 50px;
}
.comments__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments__head img {
    height: 74px;
    width: 74px;
    border-radius: 50%;
}
.comments__head h3 {
    text-transform: none;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    padding-left: 20px;
}
.comments__text {
    font-size: 13px;
    line-height: 23px;
    padding-top: 22px;
}
.parametrs {
    max-width: 290px;
    display: flex;
    text-transform: uppercase;
    background: #e3b873;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: -76px;
    margin-left: -21px;
    margin-top: 61px;
}
.parametrs__custom {
    display: flex;
    justify-content: space-around;
    padding: 11px 15px;
    align-items: center;
}
.parametrs__custom p {
    padding-left: 16px;
}
.parametrs__days {
    border-left: 1px solid #fff;
}

/*----------------------------------------QUESTIONS----------------------------------*/
.questions {
    position: relative;
    margin-bottom: 100px;
    width: 883px;
    margin: 0 auto;
    background: #000;
    padding: 25px 0px;
    text-align: center;
    margin-bottom: -230px;
}
.questions-title {
    max-width: 265px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin: 0 auto;
    padding-bottom: 45px;
    text-align: center;
}
.questions__form {
    max-width: 516px;
    margin: 0 auto;

}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.questions-input {
    background: #000;
}
.questions input::placeholder {
    color: #fff;
}
.questions-label {
    color: rgba(255, 255, 255, 0.5);
}
.questions-checkbox {
    margin-top: 48px;
    margin-bottom: 30px;
    font-size: 14px;
}
.questions-btn {
    font-style: normal;
    padding: 20px 65px;
    box-shadow: none
}


/*----------------------------------------CONTACTS----------------------------------*/
.contacts {
    background-image: url(../img/bg_map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

}
.contacts::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: -1;

}
.contacts-title {
    max-width: 589px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 28px;
    padding-top: 255px;
    text-align: center;
}
.contacts-title a {
    text-decoration: none;
    color: #E3B873;
}
.social {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 40px;
}
.social-icons {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #E3B873;
    margin: 0 15px;
}
.map {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    padding-bottom: 66px;
    max-width: 900px;


}



@media screen and (max-width: 1300px) {
    .our-styles, .advantages, .benefit, .clients, footer, nav, .works__image, .works__slider-controls {
        display: none;
    }
    .button {
        max-width: 340px;
        max-height: 50px;
        display: flex;
        align-items: center;justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    /*--------------------------------------HEADER---------------------*/
    .header {
        height: 57px;
    }
    .header__button {
        display: none;
    }
    .header__phone {
        color: #fff;
    }
    /*--------------------------------------MAIN-PAGE---------------------*/
    .main-page__content {
        padding-top: 85px;
        padding-bottom: 61px;
        margin: 0 auto;
    }
    .main-page-buttonblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-page__button {
        width: 100%;
        margin: 0 auto;
    }
    .main-page__button_transparent {
        margin-top: 26px;
    }
    .main-page__content p {
        font-size: 14px;
        line-height: 19px;
    }
    
    h1 {
        font-size: 23px;
        line-height: 31px;
    }
    /*--------------------------------------WORKS---------------------*/
    .works__wrap {
        padding-bottom: 67px;
    }
    .works__text {
        justify-content: center;
        margin: 0 auto;
    }
    .works__slider-description {
        text-align: center;
        font-size: 11px;
        line-height: 17px;
    }
    .works__text br {
        display: none;
    }
    .title {
        font-size: 22px;
        line-height: 30px;
        padding-top: 36px;
        padding-left: 60px;
    }
    .works__title {
        max-width: 220px;
        margin: 0;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .mobile-slider__image {
        display: block;
        margin: 0 auto;
    }
    .mobile-slider {
        display: block;
    }
    .mobile-slider img {
        max-width: 100%;
    }
    .mobile-block {
        margin: 0 auto;
        margin-top: -132px;
        margin-bottom: 132px;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-slider__control {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #E3B873;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /*--------------------------------------CONTROL---------------------*/
    .control {
        background-color: #131313;
        margin: 0;
        padding-right: 18px;
        padding-left: 18px;
    }
    .control h2 {
        margin-top: -1px;
        padding-top: 10px;
    }
    .control__img-icon img{
        width: 37px;
        height: 37px;
    }
    .control__img-icon {
        margin: 0;
        margin-left: 45%;
        margin-top: -38%;
        margin-bottom: 243px;
    }
    .control-video {
        width: 300px;
        height: 250px;
    }
    .control p {
        max-width: 340px;
        font-size: 11px;
        line-height: 19px;
        color: #fff;
    }
    .control__form {
        flex-direction: column;
        align-items: center;
        margin-top: 43px;
    }
    .label {
        color: rgba(255, 255, 255, 0.5);
    }
    .input {
        color: #fff;
        background-color: #131313;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        width: 100%;
    }
    .input__paddingtop {
        margin-bottom: 50px;
    }
    .control__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -25px;
        width: 340px;
        padding: 20px 0;
        order: 1;
    }
    .label-checkbox {
        display: block;
        font-size: 14px;
        color: #fff;
        margin-left: 0;
        padding-bottom: 60px;
    }

     /*--------------------------------------REPAIR---------------------*/
    .repair__content {
        flex-direction: column;
        align-items: center;
    }
    .repair__item-text {
        margin-left: 0;
    }


    .for-mobile {
        display: block;
        margin-bottom: -150px;
    }
    .for-mobile h2 {
        margin: 0 auto;
        text-align: center;
        padding-left: 18px;
        padding-bottom: 24px;
    }
    .livingroom {
        max-width: 340px;
        margin: 0 auto;
        margin-bottom: -85px;
    }
    .livingroom img {
        width: 100%;
        height: auto;
    }
    .questions {
        width: 100%;
        padding: 0;
        margin: 0;
        position: unset;
    }
    .questions-title {
        max-width: 280px;
        font-size: 20px;
        line-height: 28px;
        padding-left: 0;
        padding-top: 173px;
        margin: 0 auto;
    }
    .input-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    .questions-input {
        margin-bottom: 70px;
    }
    .form-input {
        margin-left: 18px;
    }
    .questions-form-input {
        margin-bottom: 0;
    }
    .questions-checkbox {
        margin: 0;
    }
    
    .questions-btn {
        margin: 0 auto;
        padding: 18px 144px;
    }
    .contacts {
        background-image: unset;
        background: #000;
    }
    iframe {
        max-width: 300px;
        height: 250px;
        margin: 0 auto;
    }
    .contacts__mobile {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .contacts-title {
        padding-left: 0;
        padding-top: 6px;
        font-size: 18px;
        line-height: 25px;
    }
}
